@lightlightgray: #EEE;
@lightgray: #DDD;
@gray: #999;
@darkgray: #333;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-dark() {
    .rounded-corners;
    background-color: @gray;
}

.box-light() {
    .rounded-corners;
    background-color: @lightgray;
}



body {
	font-size: 16px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: @lightlightgray;
}

.logo {
	height: 200px;
}

.search-box {
	padding: 5px;
	.box-light();
	.search-button {
	    padding: 0px;
	    width: 100%;
	    height: 34px;
	}
}

.search-box-small {
    margin-top: 20px;
    margin-bottom: 50px;
    .search-button {
        padding: 0px;
        width: 100%;
        height: 34px;
    }
}

.block-top {
    .box-light;
    margin: 10px;
    padding: 5px 10px;
    .title {
    	font-weight: bold;
    }
    .link {
    	display: block;
    	//color: #063863;
    }
}

.mp3-title {
    font-weight: bold;
    font-size: 28px;
}

.block-top-second {
    .block-top;
    margin: 10px 0px;
    font-size: 14px;
    .title {
        font-weight: bold;
        font-size: 16px;
    }
}

.block-results {
    .block-song {
        margin-top: 10px;
        .song-name {
            font-weight: bold;
        }
        .attr, .dlplay {
            font-size: 14px;
        }
        .line {
            border-bottom: 1px @lightgray solid;
            margin: 10px 0px 0px 0px;
        }
    }
}