@lightlightgray: #EEE;
@lightgray: #DDD;
@gray: #999;
@darkgray: #333;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.box-dark() {
    .rounded-corners;
    background-color: @gray;
}

.box-light() {
    .rounded-corners;
    background-color: @lightgray;
}



body {
	font-size: 16px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: @lightlightgray;
}

.logo {
	height: 200px;
	background: url("../images/logo-200.png") no-repeat center;
}

.small-logo {
    width: 90px;
    height: 34px;
    background: url("../images/logo-34.png") no-repeat center;
}

.search-box-big {
	padding: 5px;
	.box-light();
	.search-button {
	    padding: 0px;
	    width: 100%;
	    height: 34px;
	}
}

.search-box-small {
    margin-top: 20px;
    margin-bottom: 50px;
    .search-button {
        padding: 0px;
        width: 100%;
        height: 34px;
    }
}

.block-top {
    .box-light;
    margin: 10px;
    padding: 5px 10px;
    .title {
    	font-weight: bold;
    }
    .link {
    	display: block;
    	//color: #063863;
    }
}

.mp3-title {
    font-weight: bold;
    font-size: 28px;
}

.block-top-second {
    .block-top;
    margin: 10px 0px;
    font-size: 14px;
    .title {
        font-weight: bold;
        font-size: 16px;
    }
}

.block-results {
    .block-song {
        margin-top: 10px;
        .song-name {
            font-size: 12px;
            color: #666;
        }
        .attr, .dlplay {
            font-size: 14px;
            height: 40px;
            & > a, & > .error {
                display: block;
                margin-top: 12px;                
            }
        }
        .tag-data {
            font-size: 18px;
            color: #333;
        }
        .line {
            border-bottom: 1px @lightgray solid;
            margin: 10px 0px 0px 0px;
        }
    }
}

.show-more-songs {
	display: block;
	text-align: center;
	margin: 20px 0px 20px 0px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.more-songs {
	display: none;
}

.footer {
	margin-top: 10px;
	border-top: 1px @lightgray solid;
	text-align: center;
	padding: 20px 0px 20px 0px;
	font-size: 12px;
}


//jplayer blue monday
div.jp-audio, div.jp-audio-stream, div.jp-video {
	border: 1px solid #C2C2C2;
}

div.jp-audio div.jp-type-single div.jp-interface {
	height: 40px;
}

div.jp-audio ul.jp-controls {
	padding: 0px 20px 0 20px;
}

div.jp-audio div.jp-progress {
	top: 13px;
}

div.jp-audio div.jp-volume-bar {
	top: 18px;
}
	
div.jp-audio div.jp-time-holder {
	top: 27px;
}

div.jp-audio div.jp-type-single div.jp-time-holder {
    line-height: normal;
}

div.jp-current-time, div.jp-duration {
    font-size: .54em;
}

#main_jplayer {
    display: none;
}

.adv {
    margin: 0 auto;
    &.adv728x90 {
        width: 728px;
        height: 90px;
    }
    &.adv300x250 {
      width: 300px;
      height: 250px;
    }
}

