body{font-size:16px;font-family:Tahoma,Arial,Helvetica,sans-serif;font-weight:normal;background-color:#eeeeee;}
.logo{height:200px;background:url("../images/logo-200.png") no-repeat center;}
.small-logo{width:90px;height:34px;background:url("../images/logo-34.png") no-repeat center;}
.search-box-big{padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;background-color:#dddddd;}.search-box-big .search-button{padding:0px;width:100%;height:34px;}
.search-box-small{margin-top:20px;margin-bottom:50px;}.search-box-small .search-button{padding:0px;width:100%;height:34px;}
.block-top{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;background-color:#dddddd;margin:10px;padding:5px 10px;}.block-top .title{font-weight:bold;}
.block-top .link{display:block;}
.mp3-title{font-weight:bold;font-size:28px;}
.block-top-second{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;background-color:#dddddd;margin:10px;padding:5px 10px;margin:10px 0px;font-size:14px;}.block-top-second .title{font-weight:bold;}
.block-top-second .link{display:block;}
.block-top-second .title{font-weight:bold;font-size:16px;}
.block-results .block-song{margin-top:10px;}.block-results .block-song .song-name{font-size:12px;color:#666;}
.block-results .block-song .attr,.block-results .block-song .dlplay{font-size:14px;height:40px;}.block-results .block-song .attr>a,.block-results .block-song .dlplay>a,.block-results .block-song .attr>.error,.block-results .block-song .dlplay>.error{display:block;margin-top:12px;}
.block-results .block-song .tag-data{font-size:18px;color:#333;}
.block-results .block-song .line{border-bottom:1px #dddddd solid;margin:10px 0px 0px 0px;}
.show-more-songs{display:block;text-align:center;margin:20px 0px 20px 0px;font-weight:bold;font-size:14px;cursor:pointer;}
.more-songs{display:none;}
.footer{margin-top:10px;border-top:1px #dddddd solid;text-align:center;padding:20px 0px 20px 0px;font-size:12px;}
div.jp-audio,div.jp-audio-stream,div.jp-video{border:1px solid #C2C2C2;}
div.jp-audio div.jp-type-single div.jp-interface{height:40px;}
div.jp-audio ul.jp-controls{padding:0px 20px 0 20px;}
div.jp-audio div.jp-progress{top:13px;}
div.jp-audio div.jp-volume-bar{top:18px;}
div.jp-audio div.jp-time-holder{top:27px;}
div.jp-audio div.jp-type-single div.jp-time-holder{line-height:normal;}
div.jp-current-time,div.jp-duration{font-size:.54em;}
#main_jplayer{display:none;}
.adv{margin:0 auto;}.adv.adv728x90{width:728px;height:90px;}
.adv.adv300x250{width:300px;height:250px;}
